<!DOCTYPE html>
<html>
<head>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href=
    "https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
        <script src="https://kit.fontawesome.com/577845f6a5.js"
            crossorigin="anonymous">
        </script>
    
        <!-- Optional JavaScript -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js">
        </script>
        <script src=
    "https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js">
        </script>
        <script src=
    "https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js">
        </script>
  
<style>
.gradient-custom {
    /* fallback for old browsers */
background: #f093fb;
    
    /* Chrome 10-25, Safari 5.1-6 */
background: -webkit-linear-gradient(to bottom right, rgba(240, 147, 251, 1), rgba(245, 87, 108, 1));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background: linear-gradient(to bottom right, rgba(240, 147, 251, 1), rgba(245, 87, 108, 1))
    }
    
.card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
    }
.card-registration .select-arrow {
    top: 13px;
    }
</style>
<link href="//fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i" rel="stylesheet">
<body>
<!--
Author: Colorlib
Author URL: https://colorlib.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
<title>Register Form</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- Custom Theme files -->
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<!-- //Custom Theme files -->
<!-- web font -->
<link href="//fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i" rel="stylesheet">
<!-- //web font -->
</head>
<body>
	<!-- main -->
	<section class="vh-100 gradient-custom">
        <div class="container py-5 h-100">
          <div class="row justify-content-center align-items-center h-100">
            <div class="col-12 col-lg-9 col-xl-7">
              <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
                <div class="card-body p-4 p-md-5">
                  <h3 class="mb-4 pb-2 pb-md-0 mb-md-5" >Registration Form</h3>
                  <form method="POST" action="{% url 'save_data' %}">
					{% csrf_token %}
      
                    <div class="row">
                      <div class="col-md-6 mb-4">
      
                        <div class="form-outline">
                          {% comment %} <input type="text" id="firstName" class="form-control form-control-lg" /> {% endcomment %}
                          <input type="tel"  name="phone" id="phonenumber" placeholder="98xxxxxxxx" class="form-control form-control-lg"  pattern="[0-9]{10}" required>
                          
                        </div>
      
                      </div>
                      <div class="col-md-6 mb-4">
      
                        <div class="form-outline">
                          {% comment %} <input type="text" id="lastName" class="form-control form-control-lg" /> {% endcomment %}
                          <select name="age" id="age" class="form-control form-control-lg"> 
							<option >Please Select Age</option>
							<option value="20">Age Between 20-25</option>
							<option value="25">Age Between 25-30</option>
						</select>
                       
                          {% comment %} <label class="form-label" for="lastName">Age</label> {% endcomment %}
                        </div>
      
                      </div>


                      
                    </div>
      
                    <div class="row">
                      <div class="col-md-6 mb-4 d-flex align-items-center">
      
                        <div class="form-outline datepicker w-100">
                          {% comment %} <input
                            type="text"
                            class="form-control form-control-lg"
                            id="birthdayDate"
                          /> {% endcomment %}
                          <select name="role" id="role"  class="form-control form-control-lg">
							<option >Please Select Role</option>
							<option value="customer">Customer</option>
							<option value="escort">Escort</option>
						</select>

                          {% comment %} <label for="birthdayDate" class="form-label">Birthday</label> {% endcomment %}
                        </div>
      
                      </div>
                      <div class="col-md-6 mb-4">
      
                        <div class="form-outline datepicker w-100">
                            {% comment %} <input
                              type="text"
                              class="form-control form-control-lg"
                              id="birthdayDate"
                            /> {% endcomment %}
                            <select name="gender" id="gender" class="form-control form-control-lg">
                                    <option >Please Select Gender</option>
                                    <option value="male">Male</option>
                                    <option value="gender">Female</option>
                            </select>
  
                            {% comment %} <label for="birthdayDate" class="form-label">Birthday</label> {% endcomment %}
                          </div>
      
                    
                    </div>
      
                    {% comment %} <div class="row"> {% endcomment %}
                    <div class="col-md-6 mb-4 pb-2">
      
                        <div class="form-outline">
                          {% comment %} <input type="email" id="emailAddress" class="form-control form-control-lg" /> {% endcomment %}
                          <select name="city" id="city" class="form-control form-control-lg">
							<option >Please Select City</option>
							<option value="ohio"> Ohio</option>
							<option value = "torrento"> torrento</option>
						</select>
                        </div>
                      </div>
                    <div class="col-md-6 mb-4 pb-2">
                        <div class="form-outline">
                          {% comment %} <input type="email" id="emailAddress" class="form-control form-control-lg" /> {% endcomment %}
                          <input type="file" class="form-control" id="customFile" name="file" />
                        </div>
                    </div>
                    </div>
                    <div class="mt-4 pt-2">
                      <input class="btn btn-primary btn-lg" type="submit" value="Submit" />
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
	<!-- //main -->
</body>
</html>
</body>
</html>

