@media only screen and (min-width: 240px) and (max-width: 767px) {


	html {
		font-size: 50.5%;
	}

	.container {
    	max-width: 90%;
	}

	.section {
		padding: 5rem 0;
		overflow: hidden;
	}

	.plr-5 {
	    padding-left: 5rem;
	    padding-right: 5rem;
	}

	.banner {
		border-radius: 0;
		height: auto;
		padding-top: 15rem;
	}

	.banner .row {
		flex-direction: column-reverse;
	}

	.banner_left {
		position: static;
		justify-content: center;
	}

	.banner_right {
		padding: 0 2rem;
		text-align: center;
		justify-content: center;
	}

	.banner_right h1 {
		font-size: 4.8rem;
	    line-height: 6rem;
	}

	.banner_right h4 {
		font-size: 3.2rem;
    	line-height: 4.4rem;
	}

	.cta_button {
		margin: 3rem auto;
	}

	.banner::before {display: none;}


	.home_sec3 .container {
		max-width: 90%;
		padding: 0;
	}

	.heading h2 {
	    font-size: 4.8rem;
	    line-height: 5.4rem;
	    text-align: center;
	}

	.heading h2 span {
		font-size: 3.6rem;
	}

	.home_sec3_right_inside {
		width: 100%;
	    height: 50rem;
	    position: relative;
	}

	.home_sec3_right_inside img {
		left: 0;
	    bottom: 0;
	    position: absolute;
	    max-width: 100%;
	    max-height: 100%;
	    width: auto;
	    height: auto;
	}

	.footer_logo {
		text-align: center;
	}

	.copyright {
		margin-top: 2rem;
		text-align: center;
		justify-content: center;
	}



	/*--- Select Model Page ---*/


	.model_profile_picture {
		height: auto;
	}

	


	



}



@media only screen and (min-width: 768px) and (max-width: 1023px) {


	html {
		font-size: 52.5%;
	}

	.container {
		max-width: 95%;
	}

	.section {
		padding: 5rem 0;
		overflow-x: hidden;
		overflow-y: clip;
	}

	.banner {
		height: 80vh;
		border-radius: 0 0 0 15rem;
	}

	.banner_right {
		padding-right: 3rem;
	}

	.banner_right h1 {
		font-size: 5.8rem;
	    line-height: 7rem;
	}

	.banner_right h4 {
		font-size: 3.6rem;
	    line-height: 4.6rem;
	}

	.home_sec2_box_content h4 {
	    font-size: 2.6rem;
	    line-height: 3.4rem;
	}

	.home_sec3_right_inside {
		width: 95%;
	}

	

	

}



@media only screen and (min-width: 768px) and (max-width: 991px) {

	/*.banner_left, .banner_right {
		max-width: 50%;
		flex: 0 0 50%;
	}*/

	.home_sec3 .container {
		padding-left: 5rem;
	}

	.home_sec3_left h2 {
	    font-size: 6rem;
	    line-height: 6rem;
	}

	.home_sec3_left h2 span {
		font-size: 4.2rem;
	}


}

@media only screen and (min-width: 1024px) and (max-width: 1322px) {

	html {
		font-size: 55.5%;
	}

	.banner {
		height: 70vh;
	}

	.banner_right {
		padding-right: 2rem;
	}

	.banner_right h1 {
		font-size: 6.8rem;
	    line-height: 8rem;
	}

	.banner_right h4 {
		font-size: 4.2rem;
	    line-height: 5rem;
	}

	.home_sec3_left h2 {
		font-size: 7rem;
	}

	.home_sec2_box_content h4 {
	    font-size: 3rem;
	    line-height: 4rem;
	}



}





@media only screen and (min-width: 1323px) and (max-width: 1549px) {

	.banner_right h1 {
		font-size: 7.8rem;
	    line-height: 9rem;
	}

	.banner_right h4 {
	    font-size: 4.2rem;
	    line-height: 5.2rem;
	}

}




@media only screen and (min-width: 1500px) {

	


}



/*@media only screen and (min-width: 1500px) and (max-width: 1800px) {

	html {
		font-size: 70%;
	}

}*/

@media only screen and (min-width: 1801px) and (max-width: 2000px) {

	html {
		font-size: 75%;
	}

}



@media only screen and (min-width: 2001px) and (max-width: 2500px) {

	html {
		font-size: 85%;
	}


}



@media only screen and (min-width: 2501px) and (max-width: 3000px) {

	html {
		font-size: 110%;
	}


}


@media only screen and (min-width: 3001px) and (max-width: 4000px) {

	html {
		font-size: 150%;
	}


}


@media only screen and (min-width: 4001px) and (max-width: 5000px) {

	html {
		font-size: 170%;
	}


}


@media only screen and (min-width: 5001px){

	html {
		font-size: 220%;
	}

	
}