@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
	scroll-behavior: smooth;
	font-size: 62.5%;
	overflow-x: hidden;
}

*{
	margin: 0;
	padding: 0;
	list-style: none;
}

:root {
	--Montserrat-font-family: 'Montserrat', sans-serif;
	--heading-font-family: 'Yeseva One', cursive;
	--body-font-family: 'Segoe UI';
	--Segoe-Bold-font-family:'Conv_segoeuib',Sans-Serif;
	--e-global-color-white: #fff;
	--e-global-color-black: #000;
	--e-global-color-yellow: #FFC620;
	--e-global-body-content-color: #344459;
	--e-global-color-midnight-blue: #2A0348;
	--e-global-color-purple: #6D1DAA;
	--e-global-color-dark-heading: #180228;
	--e-global-color-light-background: #F0F0FF;
}

img {
	max-width: 100%;
}

ul, ol {
	margin: 0;
	padding: 0;
	list-style: none;
}

a, a:hover {
	text-decoration: none;
}

h1, h2, h3, h4, h5 {
	font-family: var(--heading-font-family);
}

body {
	font-size: 1.8rem;
	line-height: 2.9rem;
	font-weight: 400;
	overflow-x: hidden;
	color: var(--e-global-body-content-color);
	font-family:var(--body-font-family);
}


 
.section {
	position: relative;
	padding: 7rem 0;
	clear: both;
	float: left;
	width: 100%;
	z-index: 2;
	overflow: hidden;
}

.no-bg {
	background: transparent !important;
}

.container {
	max-width: calc(100% - 15rem);
}

.plr-5 {
	padding-left: 5rem;
	padding-right: 5rem;
}


.cta_button {
	margin-top: 3rem;
}

.cta_button a {
	font-size: 1.8rem;
	font-weight: 700;
	line-height: 4rem;
	padding: 1rem 4rem;
	border-radius: 3rem;
	display: inline-block;
	color: var(--e-global-color-black);
	background: var(--e-global-color-yellow);
}

.cta_button a img {
	margin-left: 1rem;
}

.heading {
	width: 100%;
	margin-bottom: 3rem;
	text-align: center;
	padding-bottom: 2rem;
}

.heading h2 {
	font-size: 4.2rem;
	line-height: 4.4rem;
	font-weight: 400;
	position: relative;
	text-transform: capitalize;
	color: var(--e-global-color-dark-heading);
}

.heading:before {
	width: 10rem;
	height: .3rem;
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	border-radius: 1rem;
	background: var(--e-global-color-purple);
}


.light_bg {
	background: var(--e-global-color-light-background);
}



header {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 99;
	background: transparent;
}

.logo img {
	max-width: 25rem;
}


.banner_bg {
	width: 100%;
	height: auto;
}

.banner {
	width: 100%;
	height: 100vh;
	position: relative;
	border-radius: 0 0 0 25rem;
	padding-top: 12rem;
	background: var(--e-global-color-midnight-blue);
}

.banner::before {
	width: 100%;
	height: 100%;
	position: absolute;
	content: "";
	z-index: 1;
	top: 0;
	left: 0;
	background: url(../images/bg.png) no-repeat;
	background-position: center;
    background-size: auto 100%;
}

.banner .container,
.banner .row {
	height: 100%;
	position: relative;
	z-index: 2;
}

.banner_left {
	position: absolute;
	bottom: 0;
	display: flex;
	justify-content: flex-end;
	transition-delay: .2s;
}

.banner_left img {
	width: 95%;
}

.banner_right {
	margin: 0 0 0 auto;
	padding: 0 5rem 0 0;
	display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
}

.banner_right h1 {
	font-size: 8.8rem;
	line-height: 9rem;
	font-weight: 400;
	color: var(--e-global-color-white);
}

.banner_right h4 {
	font-size: 5.4rem;
	line-height: 7.4rem;
	font-weight: 400;
	color: #D6B0F3;
}


.home_sec2 {
	
}

.home_sec2_box {
	text-align: center;
	transition-delay: .1s;
}

.home_sec2_box:nth-child(2) {
	transition-delay: .3s;
}

.home_sec2_box:nth-child(3) {
	transition-delay: .5s;
}


.home_sec2_box_icon {
	width: 9.4rem;
	height: 9.4rem;
	padding: .5rem;
	margin: auto;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	background: var(--e-global-color-white);
}

.home_sec2_box_content {
	width: 100%;
	padding-top: 2rem;
}

.home_sec2_box_content h4 {
	font-size: 3.6rem;
	line-height: 4.4rem;
	font-weight: 400;
	color: var(--e-global-color-dark-heading);
}


.home_sec3 {

}

.home_sec3 .container {
	max-width: 100%;
    padding: 0 0 0 9rem;
}

.home_sec3_left {
	padding: 5rem 1.5rem 1.5rem 1.5rem;
}

.home_sec3_left h2 {
	font-size: 8.4rem;
	line-height: 8.4rem;
	font-weight: 400;
	color: var(--e-global-color-purple);
}

.home_sec3_left h2 span {
	display: block;
	font-size: 5.4rem;
	color: var(--e-global-color-dark-heading);
}

.home_sec3_right {
	position: relative;
	overflow: hidden;
}

.home_sec3_right_inside {
	width: 50rem;
	height: 100%;
	background: #D8D8F8;
	position: absolute;
	top: 0;
	right: 0;
	border-radius: 0  0 0 15rem;
}

.home_sec3_right_inside:before {
	width: 100%;
	height: 100%;
	content: "";
	left: 0;
	top: 0;
	position: absolute;
	background: url(../images/inside-pattern.png);
}

.home_sec3_right_inside img {
	position: absolute;
    height: 100%;
    width: auto;
    max-width: initial;
    left: -4rem;
    bottom: 0;
    transition-delay: .2s;
}


footer {
	padding: 1.5rem;
	background: var(--e-global-color-midnight-blue);
}

.copyright {
	float: right;
	margin: 0 0 0 auto;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	text-align: right;
	font-size: 1.6rem;
	line-height: 2.2rem;
	color: var(--e-global-color-white);
}




/*-- model profile css --*/


.model_profile {
	margin-bottom: 5rem;
}

.model_profile_box {
	width: 100%;
	border-radius: .5rem;
	background: var(--e-global-color-white);
}

.model_profile_box:hover {
	box-shadow: 0 .4rem 10.1rem rgba(0, 0, 0, 0.17);
}

.model_profile_picture {
	height: 30rem;
	overflow: hidden;
	border-radius: .5rem .5rem 0 0;
}

.model_profile_picture img {
	width: 100%;
	height: 100%;
}

.model_profile_details {
	padding: 3rem 2.5rem;
	display: flex;
	align-items: center;
	border-radius: 0 0 .5rem .5rem;
	justify-content: space-between;
	border: solid .1rem transparent;
}

.model_profile_box:hover .model_profile_details {
	border-color: var(--e-global-color-purple);
	border-top-color: transparent;
}

.model_profile_details_left {

}

.model_profile_details_left h3 {
	font-size: 2.4rem;
	color: var(--e-global-color-black);
	font-family: var(--Montserrat-font-family);
}

.model_profile_details_left h4 {
	font-size: 1.8rem;
	color: var(--e-global-color-purple);
	font-family: var(--body-font-family);
}

.model_profile_details_right {

}

.select_person {
	display: block;
	font-size: 1.6rem;
	line-height: 1.8rem;
	border-radius: 3rem;
	padding: 1rem 2.5rem;
	text-transform: capitalize;
	color: var(--e-global-color-purple);
	background: var(--e-global-color-white);
	border: solid .1rem var(--e-global-color-purple);
}

.select_person:hover, .select_person:focus {
	background: var(--e-global-color-purple);
	color: var(--e-global-color-white);
}




/*-- payment page --*/


.header_blue {
	position: static;
	border-radius: 0 0 0 15rem;
	background: var(--e-global-color-midnight-blue);
}

.header_blue:before {
	width: 100%;
	height: 100%;
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	z-index: -1;
	background: var(--e-global-color-light-background);
}


.payment_box:hover .model_profile_details {
	border-color: transparent;
}

.payment_box .model_profile_picture {
	height: 22rem;
	padding: 2rem;
	border-radius: 0 0 10rem 0;
	display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
    text-align: center;	
}

.payment_part:nth-child(1) .payment_box .model_profile_picture {
	background: linear-gradient(to right, #fcd700 0%, #f3b004 100%);
}

.payment_part:nth-child(2) .payment_box .model_profile_picture {
	background: linear-gradient(to right, #D71521 0%, #64020D 100%);
}

.payment_part:nth-child(3) .payment_box .model_profile_picture {
	background: linear-gradient(to right, #15D7A8 0%, #099F96 100%);
}

.payment_box .model_profile_picture h2 {
	width: 100%;
	font-weight: 700;
	font-size: 7.6rem;
	line-height: 7.2rem;
	color: var(--e-global-color-white);
	font-family: var(--Montserrat-font-family);
}

.payment_box .model_profile_picture span {
	width: 100%;
	font-weight: 600;
	font-size: 2rem;
	line-height: 2.2rem;
	color: var(--e-global-color-white);
	font-family: var(--Montserrat-font-family);
}

.payment_box .model_profile_details_right {
	width: 100%;
	text-align: center;
}

.payment_box .model_profile_details_right .select_person {
	display: inline-block;
	padding: 1.3rem 5rem;
	background: #DFDFF4;
	font-weight: 600;
	border-color: transparent;
	color: var(--e-global-color-black);
}

.payment_box .model_profile_details_right .select_person:hover {
	color: var(--e-global-color-white);
	background: var(--e-global-color-purple);
}



.make_payment_part {
	margin: auto;
	text-align: center;
	padding: 5rem 2rem;
	border-radius: .5rem;
	background: var(--e-global-color-white);
}

.make_payment_part h6 {
	display: block;
	font-weight: 500;
	font-size: 1.4rem;
	line-height: 2.2rem;
	text-transform: uppercase;
	color: #6C6C6C;
	margin: 2rem 0;
	font-family: var(--Montserrat-font-family);
}

.make_payment_part h4 {
	display: block;
	font-weight: 600;
	font-size: 2.5rem;
	line-height: 4rem;
	text-transform: uppercase;
	color: #1D1B1B;
	margin: 0 0 6rem;
	font-family: var(--Montserrat-font-family);
}

.make_payment_part span {
	display: block;
	font-weight: 500;
	font-size: 1.6rem;
	line-height: 2.2rem;
	text-transform: uppercase;
	color: #6C6C6C;
	margin: 0 0 4rem;
	font-family: var(--Montserrat-font-family);
}

.make_payment_part .pay_now {
	width: 100%;
	padding: 1.6rem 2rem;
	border-radius: 3rem;
	font-size: 2rem;
	font-weight: 600;
	line-height: 2.4rem;
	text-transform: capitalize;
	color: var(--e-global-color-white);
	background: var(--e-global-color-purple);
	font-family: var(--Montserrat-font-family);
}






/*-- floating css --*/

.floating_form_box {
	position: relative;
   z-index: 9999;
}

.floating_button {
	width: 6rem;
	height: 6rem;
	border-radius: 100%;
	background: rgb(0, 164, 189);
	position: fixed;
	right: 3rem;
	bottom: 3rem;
	z-index: 999;
	padding: .5rem;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

.floating_button img {
	max-width: 3rem;
	filter: brightness(0) invert(1);
	position: absolute;
}

.floating_button img.form_icon {
	opacity: 0;
}

.close_form_box .floating_button img.form_icon {
	opacity: 1;
}

.close_form_box .floating_button img.close_icon {
	opacity: 0;
}

.floating_form {
	width: 25rem;
	border-radius: 1rem;
	background: var(--e-global-color-white);
	position: fixed;
    right: 3rem;
    bottom: 10rem;
    overflow: hidden;
    transition: ease .5s;
}

.floating_form_heading {
	width: 100%;
	text-align: center;
	padding: 1rem;
	color: var(--e-global-color-white);
	background: var(--e-global-color-purple);
}

.floating_form_heading h2 {
	font-size: 2.4rem;
	font-weight: 500;
}

.floating_form_content {
	width: 100%;
	padding: 1rem;
}

/* .floating_form_content .form-group {
	margin-bottom: 1.5rem;
} */

.floating_form_content .form-group input, .floating_form_content .form-group select, .floating_form_content .form-group textarea {
	width: 100%;
	height: 3.5rem;
	padding: 1rem;
	font-size: 1.4rem;
	border: solid .1rem var(--e-global-body-content-color);
}

.floating_form_content .form-group input:focus {
	box-shadow: none;
	outline: none;
}

.close_form_box .floating_form {
	opacity: 0;
	transition: ease .5s;
	transform-origin: right bottom;
	transform: translateY(20%);
}

.floating_form_number {
	text-align: center;
}