{% load static %}
<!DOCTYPE html>
<html>
<head>
<title>Sleep N Seduce</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" href="{% static 'images/favicon.png' %}" type="image/x-icon" sizes="22x29">
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css"  media="all"/>
<link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.1.2/css/all.css" type="text/css" media="all"/>
<link rel="stylesheet" href="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.css" />
<link rel="stylesheet" href="{% static 'css/fonts.css' %}" type="text/css" media="all">
<link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" media="all">
<link rel="stylesheet" href="{% static 'css/responsive.css' %}" type="text/css" media="all">

<script src="{% static 'js/jquery-3.4.1.min.js' %}"></script> <!-- jquery min js -->

</head>

<body>

	<header>
		<div class="container">
			<div class="row">
				<div class="col-lg-3 logo">
					<a href="index.html"><img src="{% static 'images/logo.png' %}"/></a>
				</div>
			</div>
		</div>
	</header>
	<div class="clearfix"></div>
	<section class="banner_bg light_bg">
		<div class="banner">
			<div class="container">
				<div class="row">
					<div class="col-xl-6 col-lg-6 col-md-6 banner_left" data-aos="zoom-in">
						<img src="{% static 'images/banner.png' %}">
					</div>
					<div class="col-xl-6 col-lg-6 col-md-6 banner_right" data-aos="fade-left">
						<h1>Lorem ipsum dolor sit amet, </h1>
						<h4>consectetur adipiscing elit ullamcorper</h4>
						<div class="cta_button">
							<a href="javascript:void(0);">Join Now <img src="{% static 'images/right-arrow.png' %}"></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<div class="clearfix"></div>

	<section class="section home_sec2 light_bg">
		<div class="container">
			<div class="row">
				<div class="col-xl-4 col-lg-4 col-md-4 home_sec2_box" data-aos="zoom-in-up">
					<div class="col-lg-12">
						<div class="home_sec2_box_icon">
							<img src="{% static 'images/h2-1.png' %}"/>
						</div>
						<div class="home_sec2_box_content">
							<h4>Meeting</h4>
							<p>Nulla ullamcorper diam odio, sit amet volutpat lectus ultrices.</p>
						</div>
					</div>
				</div>
				<div class="col-xl-4 col-lg-4 col-md-4 home_sec2_box" data-aos="zoom-in-up">
					<div class="col-lg-12">
						<div class="home_sec2_box_icon">
							<img src="{% static 'images/h2-2.png' %}"/>
						</div>
						<div class="home_sec2_box_content">
							<h4>Protection</h4>
							<p>Nulla ullamcorper diam odio, sit amet volutpat lectus ultrices.</p>
						</div>
					</div>
				</div>
				<div class="col-xl-4 col-lg-4 col-md-4 home_sec2_box" data-aos="zoom-in-up">
					<div class="col-lg-12">
						<div class="home_sec2_box_icon">
							<img src="{% static 'images/h2-3.png' %}"/>
						</div>
						<div class="home_sec2_box_content">
							<h4>We have largest network</h4>
							<p>Nulla ullamcorper diam odio, sit amet volutpat lectus ultrices.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<div class="clearfix"></div>

	<section class="home_sec3">
		<div class="container">
			<div class="row">
				<div class="col-xl-7 col-lg-6 col-md-6 home_sec3_left" data-aos="fade-right">
					<h2><span>About </span> Sleep n Seduce</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ultricies aliquet nibh, eu fermentum massa ultrices efficitur. Morbi accumsan tincidunt enim, eu porta nisl egestas non. Etiam dapibus viverra lacinia. Mauris ullamcorper metus suscipit, suscipit leo a, tincidunt purus. Ut convallis lorem ac velit fringilla, ac elementum risus tempus. Nunc scelerisque lacinia mi, nec convallis lectus aliquam sed. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In dapibus risus a lacinia consequat.</p>

					<p>Fusce facilisis lorem sit amet pulvinar maximus. Aenean nec velit tristique, semper lacus vitae, facilisis nisl. Nunc id cursus tortor. Integer fringilla rutrum sem, ut fringilla est aliquam quis. Aenean id urna id neque tempor consectetur sollicitudin semper magna. Duis auctor nisl quis orci vestibulum luctus. Duis lectus magna, egestas eget risus id, elementum rhoncus ipsum. Maecenas hendrerit varius sem eu consequat. Vestibulum mauris augue, congue ac pellentesque ac, molestie nec tortor. Phasellus a malesuada tortor.</p>

					<p>Donec in est et ipsum vehicula fermentum id congue mi. Vivamus vestibulum est ac nunc dignissim rutrum. Suspendisse ornare ullamcorper velit, vitae placerat nisl sodales sed. In hac habitasse platea dictumst.</p>
				</div>
				<div class="col-xl-5 col-lg-6 col-md-6 home_sec3_right">
					<div class="home_sec3_right_inside">
						<img src="{% static 'images/escort.png' %}" data-aos="fade-up">
					</div>
				</div>
			</div>
		</div>
	</section>

	<div class="clearfix"></div>

	<footer>
		<div class="container">
			<div class="row">
				<div class="col-lg-3 footer_logo">
					<img src="{% static 'images/footer-logo.png' %}">
				</div>
				<div class="col-lg-3 copyright">
					<span>© 2023 Sleep n Seduce </span>
				</div>
			</div>
		</div>
	</footer>

	<div class="floating_form_box">
		<div class="floating_form">
			<div class="floating_form_heading">
				<h2>Twillo Number</h2>
			</div>
			<div class="floating_form_content">
					
				{% comment %} <button type="button" class="btn btn-danger btn-lg" sizes="50">1234567896</button>
					 {% endcomment %}
				<div class="alert alert-dark " role="alert">
						<h2 class="floating_form_number font-weight-bold fs-1">{{number.number}}<h2>
				</div>
					{% comment %} <form method="POST" action="{% url 'save_user_data' %}">
					{% csrf_token %}
					<div class="form-group">
						<input type="tel" name="phone" id="phonenumber" placeholder="98xxxxxxxx" pattern="[0-9]{10}" required>
					</div>
					<div class="form-group">
						<select name="age" id="age">
							<option >Please Select Age</option>
							<option value="20">Age Between 20-25</option>
							<option value="25">Age Between 25-30</option>
						</select>
					</div>
					<div class="form-group">
						<select name="role" id="role">
							<option >Please Select Role</option>
							<option value="customer">Customer</option>
							<option value="escort">Escort</option>
						</select>
					</div>
					<div class="form-group">
						<select name="gender" id="gender" name="select gender">
							<option >Please Select Gender</option>
							<option value="male">Male</option>
							<option value="gender">Female</option>
						</select>
					</div>
					<div class="form-group">
						<select name="city" id="city" name="select city">
							<option >Please Select City</option>
							<option value="ohio"> Ohio</option>
							<option value = "torrento"> torrento</option>
						</select>
					</div>
					<div class="form-group">
						<input type="file" class="form-control" id="customFile" name="file" />
					</div>
					<div class="form-group">
						<button type="submit" value="submit" class="btn btn-lg btn-warning ">Submit</submit>
					</div>
				</form> {% endcomment %}
			</div>
		</div>
		<div class="floating_button">
			<img src="{% static 'images/form-icon.png' %}" class="form_icon">
			<img src="{% static 'images/close-icon.png' %}" class="close_icon">
		</div>
	</div>



</body>


<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src='https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.js'></script>
<script src="{% static 'js/script.js' %}"></script>
<script type="text/javascript">
	AOS.init();


	$(document).ready(function(){
	  $(".floating_button").click(function(){
	    $(".floating_form_box").toggleClass("close_form_box");
	  });
	});

</script>
</body>
</html>