{% load static %}

<!DOCTYPE html>
<html>
<head>
<title>Sleep N Seduce</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" href="{% static 'images/favicon.png' %} " type="image/x-icon" sizes="22x29">
<link rel="stylesheet" href={% static 'css/bootstrap.min.css' %}" type="text/css"  media="all"/>
<link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.1.2/css/all.css" type="text/css" media="all"/>
<link rel="stylesheet" href="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.css" />
<link rel="stylesheet" href={% static 'css/fonts.css' %}" type="text/css" media="all">
<link rel="stylesheet" href={% static 'css/style.css' %}" type="text/css" media="all">
<link rel="stylesheet" href={% static 'css/responsive.css' %}" type="text/css" media="all">

<script src="{% static 'js/jquery-3.4.1.min.js' %}"></script> <!-- jquery min js -->

</head>

<body>

	<header class="header_blue">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 logo">
					<a href="index.html"><img src="{% static 'images/logo.png' %} "/></a>
				</div>
			</div>
		</div>
	</header>

	<div class="clearfix"></div>



	<div class="clearfix"></div>

	<section class="section select_model_sec light_bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 heading">
					<h2>make Payment</h2>
				</div>
				<div class="col-lg-12">
					<div class="row">
						<div class="col-lg-4 col-md-6 make_payment_part">
							<h6>Phone Number</h6>
							<h4>9475223965</h4>
							<span>Please use this Phone Number Make this Payment</span>
							<button type="button" class="btn pay_now">pay now</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<div class="clearfix"></div>

	<footer>
		<div class="container">
			<div class="row">
				<div class="col-lg-3 footer_logo">
					<img src="{% static 'images/footer-logo.png' %} ">
				</div>
				<div class="col-lg-3 copyright">
					<span>© 2023 Sleep n Seduce </span>
				</div>
			</div>
		</div>
	</footer>



</body>


<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src='https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.js'></script>
<script src="{% static 'js/script.js' %}"></script>
<script type="text/javascript">
	AOS.init();
</script>
</body>
</html>