{% load static %}
<!DOCTYPE html>
<html>
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css"  media="all"/>
<head>
<title>Sleep N Seduce</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" href="{% static 'images/favicon.png' %}' %} " type="image/x-icon" sizes="22x29">
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css"  media="all"/>
<link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.1.2/css/all.css" type="text/css" media="all"/>
<link rel="stylesheet" href="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.css" />
<link rel="stylesheet" href="{% static 'css/fonts.css' %}" type="text/css" media="all">
<link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" media="all">
<link rel="stylesheet" href="{% static 'css/responsive.css' %}" type="text/css" media="all">

<script src="{% static 'js/jquery-3.4.1.min.js' %}"></script> <!-- jquery min js -->

</head>

<body>

	<header>
		<div class="container">
			<div class="row">
				<div class="col-lg-3 logo">
					<a href="index.html"><img src="{% static 'images/logo.png' %}"/></a>
				</div>
			</div>
		</div>
	</header>

	<div class="clearfix"></div>

	<section class="banner_bg light_bg">
		<div class="banner">
			<div class="container">
				<div class="row">
					<div class="col-xl-6 col-lg-6 col-md-6 banner_left" data-aos="zoom-in">
						<img src="{% static 'images/banner.png' %}">
					</div>
					<div class="col-xl-6 col-lg-6 col-md-6 banner_right" data-aos="fade-left">
						<h1>Lorem ipsum dolor sit amet, </h1>
						<h4>consectetur adipiscing elit ullamcorper</h4>
						<div class="cta_button">
							<a href="javascript:void(0);">Join Now <img src="{% static 'images/right-arrow.png' %}"></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<div class="clearfix"></div>

	<section class="section select_model_sec light_bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 heading">
					<h2>Select Model Profile</h2>
				</div>
				<div class="col-lg-12">
					<div class="row">
						<div class="col-lg-4 col-md-6 model_profile">
							<div class="model_profile_box">
								<div class="model_profile_picture">
									<img src="{% static 'images/m-1.png' %}">
								</div>
								<div class="model_profile_details">
									<div class="model_profile_details_left">
										<h3>David Khan</h3>
										<h4>Height - 5.7incs</h4>
									</div>
									<div class="model_profile_details_right">
										<a href="javascript:void(0);" class="select_person">Select this Person</a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-6 model_profile">
							<div class="model_profile_box">
								<div class="model_profile_picture">
									<img src="{% static 'images/m-2.png' %}">
								</div>
								<div class="model_profile_details">
									<div class="model_profile_details_left">
										<h3>John Doe</h3>
										<h4>Height - 5.0incs</h4>
									</div>
									<div class="model_profile_details_right">
										<a href="javascript:void(0);" class="select_person">Select this Person</a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-6 model_profile">
							<div class="model_profile_box">
								<div class="model_profile_picture">
									<img src="{% static 'images/m-1.png' %}">
								</div>
								<div class="model_profile_details">
									<div class="model_profile_details_left">
										<h3>Morgan John</h3>
										<h4>Height - 5.8incs</h4>
									</div>
									<div class="model_profile_details_right">
										<a href="javascript:void(0);" class="select_person">Select this Person</a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-6 model_profile">
							<div class="model_profile_box">
								<div class="model_profile_picture">
									<img src="{% static 'images/m-4.png' %}">
								</div>
								<div class="model_profile_details">
									<div class="model_profile_details_left">
										<h3>David Khan</h3>
										<h4>Height - 5.7incs</h4>
									</div>
									<div class="model_profile_details_right">
										<a href="javascript:void(0);" class="select_person">Select this Person</a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-6 model_profile">
							<div class="model_profile_box">
								<div class="model_profile_picture">
									<img src="{% static 'images/m-5.png' %}">
								</div>
								<div class="model_profile_details">
									<div class="model_profile_details_left">
										<h3>John Doe</h3>
										<h4>Height - 5.0incs</h4>
									</div>
									<div class="model_profile_details_right">
										<a href="javascript:void(0);" class="select_person">Select this Person</a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-6 model_profile">
							<div class="model_profile_box">
								<div class="model_profile_picture">
									<img src="{% static 'images/m-6.png' %}">
								</div>
								<div class="model_profile_details">
									<div class="model_profile_details_left">
										<h3>Morgan John</h3>
										<h4>Height - 5.8incs</h4>
									</div>
									<div class="model_profile_details_right">
										<a href="javascript:void(0);" class="select_person">Select this Person</a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-6 model_profile">
							<div class="model_profile_box">
								<div class="model_profile_picture">
									<img src="{% static 'images/m-7.png' %}">
								</div>
								<div class="model_profile_details">
									<div class="model_profile_details_left">
										<h3>David Khan</h3>
										<h4>Height - 5.7incs</h4>
									</div>
									<div class="model_profile_details_right">
										<a href="javascript:void(0);" class="select_person">Select this Person</a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-6 model_profile">
							<div class="model_profile_box">
								<div class="model_profile_picture">
									<img src="{% static 'images/m-8.png' %}">
								</div>
								<div class="model_profile_details">
									<div class="model_profile_details_left">
										<h3>John Doe</h3>
										<h4>Height - 5.0incs</h4>
									</div>
									<div class="model_profile_details_right">
										<a href="javascript:void(0);" class="select_person">Select this Person</a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-6 model_profile">
							<div class="model_profile_box">
								<div class="model_profile_picture">
									<img src="{% static 'images/m-9.png' %}">
								</div>
								<div class="model_profile_details">
									<div class="model_profile_details_left">
										<h3>Morgan John</h3>
										<h4>Height - 5.8incs</h4>
									</div>
									<div class="model_profile_details_right">
										<a href="javascript:void(0);" class="select_person">Select this Person</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<div class="clearfix"></div>

	<footer>
		<div class="container">
			<div class="row">
				<div class="col-lg-3 footer_logo">
					<img src="{% static 'images/footer-logo.png' %}">
				</div>
				<div class="col-lg-3 copyright">
					<span>© 2023 Sleep n Seduce </span>
				</div>
			</div>
		</div>
	</footer>



</body>


<script src="js/bootstrap.min.js"></script>
<script src='https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.js'></script>
<script src="js/script.js"></script>
<script type="text/javascript">
	AOS.init();
</script>
</body>
</html>